<div id="page">
    <div id="title"><h3>{{ movie.title }}</h3></div>
  <div class="art"><img src="../assets/images/{{movie.coverArtFn}}"
                        width="80" height="140"/></div>
<div id="controls">
    Year: {{movie.year}} <br>
  Rating: {{movie.rating}} out of 10 <br>
    Writer: {{movie.writer}} <br>
  Director: {{movie.director}} <br>
  <a href="#">Play</a> <br>
  <a href="#">Preview</a> <br>
  <a href="#">Edit</a> <br>
</div>
  <div id="synopsis">
    {{movie.synopsis}}
  </div>
</div>
